@{
    Layout = "_Layout";
}

@model AddFlavorViewModel

@if(!ViewData.ModelState.IsValid) 
{
    @Html.ValidationSummary("Please fix the following error(s)") 
}
<h1>Add Flavor</h1>
<div>
    @using (Html.BeginForm("/flavor/create"))
    {
        
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required>
        <br>
        <button class="btn btn-primary" type="submit">Add Flavor</button>
        <a class="btn btn-danger" href="/flavor">Cancel</a>
        
    }
</div>