@{
    Layout = "_Layout";
}

@model Flavor
<div class="text-center">

<h1>Delete <span>@Model.name</span>?</h1>
<hr class="my-4">
<a href="/flavor" class="button">Cancel</a><br><br>
<br>
    <form action="/flavor/delete/@Model.flavor_id" method="post">
        <button type="submit" class="button">Delete</button>
    </form>
</div>