@{
    Layout = "_Layout";
}

@model Treat

<div class="text-center">
    
<br>
    
    <h1>@Model.name</h1>
    <hr class="my-4">

    <h3>@Model.description</h3>
<br>
    <h1>Flavors</h1>
    <hr class="my-4">


  @if (ViewBag.flavors.Count == 0)
  {
      <h3>Sorry @Model.name has no flavors yet</h3>
  } 
  else
  {
      @foreach (Flavor flavor in ViewBag.flavors)
      {
        <div class="card w-25 m-auto">
          <div class="card-body">
            <h1><a class="card-title" href="/flavor/details/@flavor.flavor_id">@flavor.name</a></h1>
            <form class="my-3" action="/treat/delete/join/@Model.treat_id/@flavor.flavor_id" method="post">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </div>
        </div>
<br>
      }
  }
</div>